################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BiTanBookStore/.vs/BiTanBookStore/v17
/BiTanBookStore/BiTanBookStore/obj
